:root {
  box-sizing: border-box;
}
*,*::before,*::after {
  box-sizing: inherit;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
}
#root{
  height: 100%;
}
.app {
  height: 100%;
  --header-height:3rem;
  --footer-height:4rem;
  --text-color-light:#DCDCDC;
  --blue-color:#00B6FF;
}
.wrapper-internal {
  width: 100%;
  height: calc(100% - var(--header-height) - var(--footer-height));
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
}
.app__text--open{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  background-color: white;
}
.app__text--closed{
  display: none;
}
.app__text-close{
  color: grey;
  margin-top: 1rem;
  margin-bottom: 1rem;
}